
* {
    overflow-x: hidden;
    font-family: Maven Pro;
}
.image {
    max-width: 100%;
    cursor: pointer;
}
.dark-overlay {
  background-color: rgba(0, 0, 0, 0.7);top: 0;left: 0;width: 100%;height: 100%;position: relative;z-index: 1;
}
.grid {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 10fr));
}
.grid-item {
    width: 33.3333%;
    padding: 10px;
    position: relative;
}
nav {
    background: transparent;
    margin-bottom: 15px;
    border: none;
    transition: background 0.8s
}

.shrink {
    background: #101010;
}
.landing {
    background: url(../../media/images/back.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 500px;
    background-attachment: fixed;
    width: 100%;
}
nav a {
    color: white;
    transition: background 0.8s;
}

.navbar-brand {
    color: white;
    font-size: 20px;
}
.form-container {
    margin-left: 28%;
    margin-top: 16%;
}
.back-form .form-control {
    width: 60%;
    height: 50px;
    display: inline-block;
}
#search-btn {
    height: 50px;
    display: flex;
    align-items: center;
    display: inline-block;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
#landing-form {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.under {
    color: white;
    margin: 1%;
}
.navbar-right {
    display: inline-block
}
.navbar-form {
    display: none;
    transition: display 0.8s
}
.navbar-form .form-control {
    height: 33px;
}
.modal-btn {
    position: relative;
    top: 50%;
    left: 50%;
}

@media (max-width: 900px) {
    .grid-item {
        width: 50%;
    }
    nav {
        background-color: #101010;
    }
    .navbar-form {
        display: block;
    }
    .back-form,.under {
        display: none;
    }
    .landing {
        
    }
}